force-app/main/default/flows/Creacion_Cita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigar_al_evento_creado</name>
        <label>Navigar al evento creado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:navigateTosObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Evento.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateTosObject</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Recuperar_Horas_Disponibles</name>
        <label>Recuperar Horas Disponibles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AgendadoCitasHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Contar_Slots</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>diaDeLaSemana</name>
            <value>
                <elementReference>DiaDeLaSemana</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fechaCita</name>
            <value>
                <elementReference>Fecha_Cita</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idCentro</name>
            <value>
                <elementReference>Agenda.Centro__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idEspecialidad</name>
            <value>
                <elementReference>Agenda.Especialidad__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgendadoCitasHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_PicklistValue</name>
        <label>Add PicklistValue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PickListValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PickListValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Slots</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Campos_PicklistValue</name>
        <label>Asignar Campos PicklistValue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PickListValue.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Slots</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PickListValue.Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Slots</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PicklistValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Error_Centro</name>
        <label>Asignar Error Centro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UltimaPantalla</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pantalla_Fecha_Centro_Especialidad</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MensajeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>La especialidad no se corresponde con el centro seleccionado. Por favor corrígelo.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pantalla_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Error_Slots</name>
        <label>Asignar Error Slots</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UltimaPantalla</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pantalla_Fecha_Centro_Especialidad</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MensajeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No hay ningún hueco libre para la fecha, centro y especialidad seleccionados.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pantalla_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_RecordTypeId_Contacto</name>
        <label>Asignar RecordTypeId Contacto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contacto.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recuperar_RecordTypeId_Cliente.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Contacto_Relleno</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Configurar_Campos_Evento</name>
        <label>Configurar Campos Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Evento.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agenda.Especialidad__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evento.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdContacto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evento.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Observaciones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evento.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaHoraInicioCita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evento.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaHoraFinalCita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Evento.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectCita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Evento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rellenar_Id_Contacto_Creado</name>
        <label>Rellenar Id Contacto Creado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IdContacto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contacto.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Configurar_Campos_Evento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rellenar_Id_Contacto_Encontrado</name>
        <label>Rellenar Id Contacto Encontrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IdContacto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecuperarContactoExistente.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Configurar_Campos_Evento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rellenar_Id_Contacto_Seleccionado</name>
        <label>Rellenar Id Contacto Seleccionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IdContacto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contacto_Existente.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Configurar_Campos_Evento</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Comprobar_Centros</name>
        <label>Comprobar Centros</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Recuperar_Horas_Disponibles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Centro_No_Coincide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agenda.Especialidad__r.Centro__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Agenda.Centro__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Error_Centro</targetReference>
            </connector>
            <label>Centro No Coincide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacto_existente_relleno</name>
        <label>Contacto existente relleno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>RecuperarContactoExistente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Relleno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacto_Existente.selectedChoiceValues</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rellenar_Id_Contacto_Seleccionado</targetReference>
            </connector>
            <label>Relleno</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacto_Relleno_Existe</name>
        <label>Contacto Relleno Existe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Asignar_RecordTypeId_Contacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecuperarContactoExistente</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rellenar_Id_Contacto_Encontrado</targetReference>
            </connector>
            <label>Encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contar_Slots</name>
        <label>Contar Slots</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Slots</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sin_Slots_Recuperados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recuperar_Horas_Disponibles</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Error_Slots</targetReference>
            </connector>
            <label>Sin Slots Recuperados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ultima_Pantalla</name>
        <label>Última Pantalla</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fecha_Centro_Especialidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UltimaPantalla</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pantalla_Fecha_Centro_Especialidad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Pantalla_Fecha_Centro_Especialidad</targetReference>
            </connector>
            <label>Fecha Centro Especialidad</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>HorasDisponibles</name>
        <collectionReference>PickListValues</collectionReference>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectorContactos</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recuperar_RecordTypeId_Cliente.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DiaDeLaSemana</name>
        <dataType>String</dataType>
        <expression>CASE(
  WEEKDAY({!Fecha_Cita}),
  1, &quot;DOMINGO&quot;,
  2, &quot;LUNES&quot;,
  3, &quot;MARTES&quot;,
  4, &quot;MIÉRCOLES&quot;,
  5, &quot;JUEVES&quot;,
  6, &quot;VIERNES&quot;,
  7, &quot;SÁBADO&quot;,
  &quot;DÍA NO VÁLIDO&quot;
)</expression>
    </formulas>
    <formulas>
        <name>FechaHoraFinalCita</name>
        <dataType>DateTime</dataType>
        <expression>{!FechaHoraInicioCita} + (15 / 1440)</expression>
    </formulas>
    <formulas>
        <name>FechaHoraInicioCita</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Fecha_Cita}) &amp; &quot; &quot; &amp;  {!Huecos_Disponibles} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>FechaValida</name>
        <dataType>Boolean</dataType>
        <expression>{!Fecha_Cita}&gt;TODAY()</expression>
    </formulas>
    <formulas>
        <name>NombreContacto</name>
        <dataType>String</dataType>
        <expression>
IF(ISBLANK({!Contacto_Existente.selectedChoiceLabels}), {!Contacto.FirstName} &amp; &quot; &quot; &amp; {!Contacto.LastName}, {!Contacto_Existente.selectedChoiceLabels})</expression>
    </formulas>
    <formulas>
        <name>SubjectCita</name>
        <dataType>String</dataType>
        <expression>{!Agenda.Centro__r.Name} &amp; &quot; : &quot; &amp; {!Agenda.Especialidad__r.Name} &amp; &quot; : &quot; &amp; {!NombreContacto}</expression>
    </formulas>
    <interviewLabel>Creación Cita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agendado Cita</label>
    <loops>
        <name>Loop_Slots</name>
        <label>Loop Slots</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Recuperar_Horas_Disponibles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Campos_PicklistValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pantalla_Selecci_n_Hora</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Contacto_Relleno</name>
        <label>Crear Contacto Relleno</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Rellenar_Id_Contacto_Creado</targetReference>
        </connector>
        <inputReference>Contacto</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crear_Evento</name>
        <label>Crear Evento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Navigar_al_evento_creado</targetReference>
        </connector>
        <inputReference>Evento</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recuperar_RecordTypeId_Cliente</name>
        <label>Recuperar RecordTypeId Cliente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pantalla_Datos_Contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cliente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se comprobará si ya existe algún contacto cuyo email coincida con el rellenado.</description>
        <name>RecuperarContactoExistente</name>
        <label>RecuperarContactoExistente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacto_Relleno_Existe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacto.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Pantalla_Confirmacion_Cita</name>
        <label>Pantalla Confirmación Cita</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contacto_existente_relleno</targetReference>
        </connector>
        <fields>
            <name>MensajeConfirmacionCita</name>
            <fieldText>&lt;p&gt;Confirma la creación de la cita con los siguientes datos:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Fecha Cita: {!FechaHoraInicioCita}&lt;/li&gt;&lt;li&gt;Centro: {!Agenda.Centro__r.Name}&lt;/li&gt;&lt;li&gt;Especialidad: {!Agenda.Especialidad__r.Name}&lt;/li&gt;&lt;li&gt;Cliente: {!NombreContacto}&lt;/li&gt;&lt;li&gt;Observaciones: {!Observaciones}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Pedir Cita</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Datos_Contacto</name>
        <label>Pantalla Datos Contacto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pantalla_Confirmacion_Cita</targetReference>
        </connector>
        <fields>
            <name>MensajeContactoExistente</name>
            <fieldText>&lt;p&gt;Puedes seleccionar un contacto existente, o rellenar la información para crear uno nuevo:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contacto_Existente</name>
            <choiceReferences>SelectorContactos</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Contacto Existente</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Puedes seleccionar un contacto existente</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Datos_Nuevo_Contacto</name>
            <fieldText>Datos Nuevo Contacto</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Datos_Nuevo_Contacto_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MensajeContactoDuplicado</name>
                    <fieldText>&lt;p&gt;Si la información rellenada coincide con algún usuario existente en el sistema, se asignará ese contacto al evento:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Contacto.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Contacto.Email</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Contacto.HomePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Contacto.MobilePhone</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Contacto_Existente.selectedChoiceValues</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Observaciones</name>
            <fieldText>Observaciones</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Error</name>
        <label>Pantalla Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ultima_Pantalla</targetReference>
        </connector>
        <fields>
            <name>ErrorEnPantalla</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!MensajeError}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Fecha_Centro_Especialidad</name>
        <label>Pantalla Fecha Centro Especialidad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Comprobar_Centros</targetReference>
        </connector>
        <fields>
            <name>Fecha_Cita</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Fecha_Cita</elementReference>
            </defaultValue>
            <fieldText>Fecha Cita</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;No se pueden pedir citas para el día de hoy ni días anteriores&lt;/p&gt;</errorMessage>
                <formulaExpression>{!FechaValida}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Agenda.Centro__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Agenda.Especialidad__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Selecci_n_Hora</name>
        <label>Pantalla Selección Hora</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Recuperar_RecordTypeId_Cliente</targetReference>
        </connector>
        <fields>
            <name>Huecos_Disponibles</name>
            <choiceReferences>HorasDisponibles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Huecos Disponibles</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pantalla_Fecha_Centro_Especialidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Agenda</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agenda__c</objectType>
    </variables>
    <variables>
        <name>Contacto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Evento</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>IdContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MensajeError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PickListValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <name>PickListValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <name>UltimaPantalla</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
